.container{

border: 1px solid black;
max-width: 300px;
min-height: 300px;
}

.rowone{
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
}

.rowtwo{
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
}


.rowthree{
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
}

